.header {
    grid-area: header;
}

.main-content {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-columns: 50px, 50px, 50px, 50px;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"
}