@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #212121;
}

.navbar-brand {
  width: 70px;
  padding-left: 20px;
  color: #ffffff !important;
  font-size: 56px;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  padding: 10px 15px;
}

.nav-link {
  padding: 10px 15px;
  cursor: pointer;
}

.navbar li a {
  color: #ffffff !important;
}



.nav-link a {
  color: lightgrey;
}

.home, .features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    position: relative;
    background-color: #212121;
    text-align: center;
    padding: 0 2em;
  }
  .home h1, .features h1 {
    font-size: 3.2rem;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    margin: 2;
    letter-spacing: 0rem;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .home h3, .features h2 {
    font-size: 2.4rem;
    font-family: 'Ubuntu', sans-serif;
    color: #3d3d3d;
    letter-spacing: 0rem;
    opacity: 1;
    padding-bottom: 35px;
  }
  
  #timer-container {
    min-width: 66vw;
    padding-bottom: 30px;
  }

  #timer-container p{
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    margin-top: 0px;
    padding-top: 20px;
    color:#ffffff;
  }
  

  
  #features, .main {
    background-color: #eaeaea;
  }

  #features .features {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
  }

  #features .material-icons {
    font-size: 56px;
    margin-bottom: 60px; 
    margin-top: 15px;
  }
  
  #features h2 {
    color: #212121;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 60px;
  }
  
  #features p {
    color: #3d3d3d;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
  }

  #footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #ffffff;
    background: #212121;
  }

  #footer p {
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
  }